{% extends 'base.html' %}

{% block content %}

	<form action="{{ url_for('index') }}" method="POST">
		<input type="text" name="new-todo" placeholder="Enter todo">
		<button type="submit">Add</button>
	</form>
	<table>
		<thead>
			<tr>
				<th>Content</th>
				<th>Completed?</th>
			</tr>
		</thead>
		<tbody>
			{% for todo in todos %}
				<tr>
					<td><a href="{{ url_for('show_todo',id=todo.id) }}">{{todo.content}}</a></td>
					<td>{{"Yes" if todo.complete else "No" }}</td>
					<td><a href="{{ url_for('delete_todo',id=todo.id) }}">
							<button style="background-color:red;">Delete</button>
						</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock content %}

